 <template>
    
<section class="Onboarding-Refferal">
      <div class="Header"></div>
      <div class="Container">
          <div>
            <img src="~/assets/emma-photo.png" alt="" width="45" height="45" class="Image-Cover"/>
          </div>
          <div>
              
                <div>
                  <span class="Emma-Copy">Emma</span>
                </div>
                <div>
                  <span>
                      Don’t forget that for each new subscriber you refer, both you and them get <strong>one free month</strong> of coverage! 💙
                      <br/>
                      <br/>
                      Share your <strong>one free month</strong> referral code
                    </span>
                </div>
                <div class="Code-Container">
                    <input readonly type="text" id="referralCode" v-model="code" />
                    
                    <button type="button" v-on:click="handleCode" class="Copy-Code">
                        
                      <copyIcon/>
                       Copy Code
                      </button>
                    <button type="button" v-on:click="tweetYourCode">
                      <twitterIcon/>
                      Tweet
                      </button>
                  
                </div>
                <div class="Clipboard" v-bind:class="[codeCopied ? 'Show' : 'Hide']">
                    <span class="Tooltip"><img src="~/assets/check-mark.png" alt="" width="15" height="13"/> Copied to clipboard! </span>
                </div>
                <div class="Email-Container">
                  <p>
                      You can also send <strong>one free month</strong> via email
                  </p>
                  <form @submit.prevent="sendByEmail">
                  <textarea v-model="email"  placeholder="amelie.dupont@gmail.com ; jeanmichel@gmail.com"> 
                  </textarea>
                  <button type="submit" v-bind:class="{'Background-Blue' : countMail }" >
                      <sendIcon/>
                    Send {{countMail}} email
                    </button>
                  <button v-on:click="done" type="button" class="Btn-Done">Done</button>
                  </form>
                </div>
                <div>


                </div>
                
          </div>

      </div>

   </section>
</template>

<script>
import copyIcon from '@/assets/copy-icon.svg'
import twitterIcon from '@/assets/twitter-icon.svg'
import sendIcon from '@/assets/send-icon.svg'
export default {
    components: {
        copyIcon,
        twitterIcon,
        sendIcon,
    },

    props: ["code"],

    data() {
        return {
             codeCopied: false,
             email: "",
             countMail: 0,

        }       
    },
    watch: {
         email:function(val) {
                 if(val) {
                     this.countMail=1;
                      if(val.indexOf(";") >= 0) {
                            if (val.charAt(val.length-1) === ";"){
                                this.countMail = (val.match(/;/g)).length;
                            }
                            else {
                                this.countMail = (val.match(/;/g)).length+1;
                            }
                        }   
                 }
                 else {
                     this.countMail=0;
                 }
            }
        },

    methods: {
        handleCode (event) {
            var copyText = document.querySelector("#referralCode");
            copyText.select();
            document.execCommand("copy");
            this.codeCopied = true;
            setTimeout(() => { this.codeCopied = false; }, 5000);
        },
        tweetYourCode() {
             this.$emit('tweetYourCode')
        },
        sendByEmail() {
            this.$emit("sendByEmail",this.email);
        },
        done() {
            console.log("Done!");
        }

        
    }



}
</script>

<style>
.Onboarding-Refferal {
  width: 1440px;
  height: 900px;
  background-color: #ffffff;
}
.Header {
  width: 1440px;
  height: 80px;
  background-color: #ffffff;
}
.Container {
  display: flex;
  margin:40px 300px 0 300px;
  padding: 8px 24px 20px 8px;
  font-family: Avenir-Roman;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #020202;

}
.Container svg {
  padding-right: 16px;
}
.Emma-Copy {
  font-weight: 900;
  font-family: Avenir;
}
.Container button {
  font-size: 16px;
  border-radius: 4px;
  font-family: Avenir;
  font-weight: 900;
  line-height: normal;
  color: #ffffff;
  padding: 13px 24px;
  background:#0042da;
    
}
.Container textarea{
  width: -webkit-fill-available;
  padding: 16px;
  font-size: 16px;
  height: 128px;
  font-weight: 500;
  line-height: 1.5;
  border: solid 1px #dddddd;
  border-radius: 4px;
}
.Container div {
  margin: 6px 8px 10px 8px;
}
.Copy-Icon {
  object-fit: contain;}
.Code-Container button {
   float: right;
} 
.Copy-Code {
  cursor: copy;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  margin-right: 6px;
}
.Code-Container {
  display: flex;
  margin-bottom: 5px !important;
}
.Email-Container p {
    margin-top: 0% !important;
}
.Email-Container ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a5a4a4;
}
.Email-Container button {
  margin-top: 16px;
  background-color: #bdbfc3;

}
.Background-Blue {
    background-color: #0042da !important;
}
.Btn-Done {
  float: right;
  background-color: #edf5fe !important;
  color: #0042da !important;
}

.Code-Container input[type=text] {
    float: right;
    padding: 13px 77px  13px 24px;
    font-size: 16px;
    border: none;
    background:#edf5fe;
    color:#0042da;
    font-weight: 500;
    width: 300px;

}
.Image-Cover {
  margin-top: 5px;  
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}
.Clipboard{
    margin-bottom: 0 !important;
}
.Tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #5bc795;
}

.Tooltip  {
  width: 200px;
  background-color: #5bc795;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: relative;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.Tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #5bc795 transparent;
}
.Show {
    visibility: visible;
  
    
}
.Hide {
    visibility: hidden;
}



</style>
