<template>
<section>
  <Referral @sendByEmail = "sendByEmail" :code = "referralCode" @tweetYourCode = "tweetYourCode"/>

</section>
</template>

 <script>
 import Referral from '@/components/Referral'
 export default {
   head() {
     return {
       title: "Luko Referral",
       meta: [
         {
           hid: "onboarding referral",
           name: "referral",
         }
         ]
     }
   },

   components: {
     Referral
   },

   data() {
     return {
       referralCode: "SHARETHELOVE + 5WMXM",
       email:"",
       tweetCopy: "I am sharing my promo code which allows you to benefit from a free month at the Luko neo-insurance: ",
       twitterUrl: "https://twitter.com/intent/tweet?text=",
     }
   },

   methods: {
     tweetYourCode() {
         var win = window.open(this.twitterUrl + this.tweetCopy + this.referralCode, '_blank');

     },
     sendByEmail(email) {

       //Send code to email

     }
   
   }
 }


</script>
